<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="c-text-image c-text-image--left">
        <div class="c-text-image__image">
            <img src="assets/images/image-content-left.jpg" />
        </div>
        <div class="c-text-image__text"></div>
    </div>
    <div class="c-text-image c-text-image--right">
        <div class="c-text-image__image">
            <img src="assets/images/image-content-right.jpg" />
        </div>
        <div class="c-text-image__text"></div>
    </div>
</body>

</html>